body {
  font-family: 'Poppins', sans-serif;
  background: #fffbea;
}

.card {
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border: none;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #e67e22;
}

.card-text {
  font-size: 0.95rem;
}

.card-img-top {
  max-height: 180px;
  object-fit: cover;
}
